<button nz-button nzType="primary" class="fixed z-10 flex items-center justify-center rounded-full shadow-2xl w-14 md:shadow-none h-14 md:h-fit md:w-fit bottom-5 right-5 md:static" (click)="open()" nzSize="large">
    <span nz-icon nzType="plus"></span>
    <span class="hidden md:inline-block">New</span>
</button>
<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="Create Todo" (nzOnClose)="close()"
    nzWidth="500px">
    <ng-container *nzDrawerContent>
        <form class="flex flex-col h-full" nz-form [formGroup]="createForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your title!">
                    <nz-form-label nzFor="title">Title</nz-form-label>
                    <input nzSize="large" type="text" id="title" nz-input formControlName="title" placeholder="Title" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your description!">
                    <nz-form-label nzFor="description">Description</nz-form-label>
                    <textarea id="description" nz-input formControlName="description" placeholder="Description"
                        rows="4"></textarea>
                </nz-form-control>
            </nz-form-item>
            <div class="flex-1"></div>
            <button nzBlock="true" nzShape="round" nz-button [nzType]="'primary'" nzShape="round" nzSize="large"
                [nzLoading]="(todosActionState$ | async)?.loading">
                {{editId?"Update":"Create"}}
            </button>
        </form>
    </ng-container>
</nz-drawer>