<div class="flex h-full">
    <div class="flex-1 bg-secondary hidden min-[905px]:flex flex-col items-center p-10">
        <nz-carousel nzAutoPlay class="flex-1 w-[400px]">
            @for (index of array; track index) {
            <div nz-carousel-content class="flex items-center justify-center">
                <h3 class="text-4xl text-white">{{ index }}</h3>
            </div>
            }
        </nz-carousel>
    </div>
    <div class="flex flex-col flex-1 pt-10">
        <img src="images/logo.svg" alt="Logo" class="h-10 invert">
        <div class="flex-1">
            <router-outlet></router-outlet>
        </div>
        <div class="py-5 text-center">
            <p nz-typography><strong>Build v5.0.1 2024 © Penny. All rights reserved.</strong></p>
        </div>
    </div>
</div>