<div class="flex items-center justify-center h-full p-5">
    <form class="w-full sm:w-96" nz-form [formGroup]="resetForm" (ngSubmit)="submitForm()">
        @if (resetPassword) {
        <nz-result nzStatus="success" nzTitle="Password Reset Successfully!" nzSubTitle="Go back to login!">
        </nz-result>
        }@else{
        @if(error){
        <nz-alert nzType="error" nzCloseable [nzMessage]="error || ''"></nz-alert>
        }
        <nz-form-item>
            <nz-form-control [nzErrorTip]="getErrorMessage(resetForm, 'password')">
                <nz-form-label nzFor="password">Password</nz-form-label>
                <nz-input-group nzSize="large" [nzSuffix]="lock" nzPrefixIcon="lock">
                    <input [type]="passwordVisible ? 'text' : 'password'" id="password" nz-input
                        formControlName="password" placeholder="Password" />
                </nz-input-group>
                <ng-template #lock>
                    <button (click)="passwordVisible = !passwordVisible" type="button">
                        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                            nz-tooltip="Toggle password visibility"></i>
                    </button>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item class="mb-5">
            <nz-form-control [nzErrorTip]="getErrorMessage(resetForm, 'confirm_password')">
                <nz-form-label nzFor="confirm_password">Confirm Password</nz-form-label>
                <nz-input-group nzSize="large" [nzSuffix]="lock" nzPrefixIcon="lock">
                    <input [type]="passwordVisible ? 'text' : 'password'" id="confirm_password" nz-input
                        formControlName="confirm_password" placeholder="Confirm Password" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <button type="submit" nzBlock="true" nz-button [nzType]="'primary'" nzShape="round" nzSize="large"
            [nzLoading]="isLoading">
            Reset
        </button>
        }
        <div class="flex flex-col items-center mt-5">
            <a routerLink="/auth/login">Back to Login!</a>
        </div>
    </form>
</div>