<div class="flex items-center justify-center h-full p-5">
    <form class="w-full sm:w-96" nz-form [formGroup]="resetForm" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your password!">
                <nz-form-label nzFor="password">Password</nz-form-label>
                <input nzSize="large" type="password" id="password" nz-input formControlName="password"
                    placeholder="Password" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item class="mb-5">
            <nz-form-control nzErrorTip="Please input your password again!">
                <nz-form-label nzFor="confirm_password">Confirm Password</nz-form-label>
                <input nzSize="large" type="confirm_password" id="confirm_password" nz-input
                    formControlName="confirm_password" placeholder="Confirm Password" />
            </nz-form-control>
        </nz-form-item>
        <button nzBlock="true" nz-button [nzType]="'primary'" nzShape="round" nzSize="large" [nzLoading]="isLoading">
            Reset
        </button>
        <div class="flex flex-col items-center mt-5">
            <a routerLink="/auth/login">Back to Login!</a>
        </div>
    </form>
</div>