<div>
    <div class="flex items-center justify-between mb-5">
        <input [(ngModel)]="search" class="w-80" nz-input placeholder="Search by title..." nzSize="large" />
        <nz-space>
            <nz-select [(ngModel)]="completed" *nzSpaceItem nzSize="large" class="w-32">
                <nz-option nzValue="all" nzLabel="All"></nz-option>
                <nz-option nzValue="true" nzLabel="Completed"></nz-option>
                <nz-option nzValue="false" nzLabel="Pending"></nz-option>
            </nz-select>
            <app-create-todo *nzSpaceItem />
        </nz-space>
    </div>
    <nz-table class="truncate" #basicTable [nzData]="(todos$ | async) ?? []" [nzLoading]="(todosActionsState$ | async)?.loading"
        [nzFrontPagination]="false" [nzTotal]="(todosMeta$ | async)?.total || 0"
        [nzPageSize]="(todosMeta$ | async)?.limit || 0" [nzPageIndex]="(todosMeta$ | async)?.page || 0"
        (nzQueryParams)="onQueryParamsChange($event)" [nzScroll]="{ x: 'true' }">
        <thead>
            <tr>
                <th nzWidth="50px"></th>
                <th nzWidth="200px">Title</th>
                <th nzWidth="200px">Description</th>
                <th nzWidth="100px">Status</th>
                <th nzWidth="200px"></th>
            </tr>
        </thead>
        <tbody>
            @for (data of basicTable.data; track data) {
            <tr>
                <td [nzChecked]="data.completed" [nzLabel]="data.title"
                    (nzCheckedChange)="onItemChecked(data._id, $event)"></td>
                <td class="font-semibold capitalize" [class.line-through]="data.completed">{{ data.title }}</td>
                <td>{{ data.description }}</td>
                <td>
                    <nz-tag [nzColor]="data.completed ? 'green' : 'red'">
                        {{ data.completed ? 'Completed' : 'Pending' }}
                    </nz-tag>
                </td>
                <td>
                    <nz-space>
                        <button *nzSpaceItem nz-button (click)="editTodo(data)">Edit</button>
                        <button *nzSpaceItem nz-button nzDanger nzType="primary"
                            (click)="deleteTodo(data._id)">Delete</button>
                    </nz-space>
                </td>
            </tr>
            }
        </tbody>
    </nz-table>
</div>