<div>
    <div class="flex justify-between items-center mb-5">
        <input class="w-80" nz-input placeholder="Search by title..." nzSize="large" />
        <nz-space>
            <nz-select *nzSpaceItem nzSize="large" class="w-32">
                <nz-option nzValue="" nzLabel="All"></nz-option>
                <nz-option nzValue="true" nzLabel="Completed"></nz-option>
                <nz-option nzValue="false" nzLabel="Pending"></nz-option>
            </nz-select>
            <app-create-todo *nzSpaceItem />
        </nz-space>
    </div>
    <nz-table #basicTable [nzData]="(todos$ | async) ?? []" [nzLoading]="(todosActionsState$ | async)?.loading"
        nzShowPagination="false" [nzScroll]="{ x: 'true' }">
        <thead>
            <tr>
                <th nzWidth="50px"></th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th nzAlign="right" nzRight></th>
            </tr>
        </thead>
        <tbody>
            @for (data of basicTable.data; track data) {
            <tr>
                <td [nzChecked]="data.completed" [nzLabel]="data.title"
                    (nzCheckedChange)="onItemChecked(data._id, $event)"></td>
                <td class="capitalize font-semibold" [class.line-through]="data.completed">{{ data.title }}</td>
                <td>{{ data.description }}</td>
                <td>
                    <nz-tag [nzColor]="data.completed ? 'green' : 'red'">
                        {{ data.completed ? 'Completed' : 'Pending' }}
                    </nz-tag>
                </td>
                <td nzAlign="right" nzRight>
                    <nz-space>
                        <button *nzSpaceItem nz-button>Edit</button>
                        <button *nzSpaceItem nz-button nzDanger nzType="primary" (click)="deleteTodo(data._id)">Delete</button>
                    </nz-space>
                </td>
            </tr>
            }
        </tbody>
    </nz-table>
</div>